@mixin textStyle() {
    font-size: 100px;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    @include textStyle();
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;

    button {
        background-color: $primaryBTN;

        &:hover {
            color: aquamarine;
        }
    }
}