@import "./variablesStyle";
@import "./headerStyle";
@import './mixins';


.contact button{
    background-color: $primaryBTN;
}
html {
    font-size: $font-size;
    font-family: $font-family;
    color: $font-color;
}

body {
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    @include setFont(2rem, 'Times New Roman', darkblue);
}
p {
    @include setFont(1rem, 'Arial', gray);
}
li a {
    color: rgb(167, 104, 104);
    text-decoration: none;
}

li button {
    border-radius: 50%;
    padding: 10px 20px;
    border: none;
    background-color: $primaryBTN;
    color: rgb(199, 196, 15);

    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
    }
}
